.all {
  text-align: center;
  padding-bottom: 20px;
}

.all p {
  color: grey;
  font-size: small;
  padding-top: 10px;
}

.app {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 15px;
  font-family: "Libre Franklin", sans-serif;
}

.Weather {
  padding: 20px;
}

.Weather li {
  list-style: none;
}

.Weather .current-city {
  font-weight: bold;
  font-size: 25px;
  font-family: "Baloo Bhaijaan 2", cursive;
}

.Weather .current-country {
  font-size: 18px;
  font-weight: lighter;
  font-family: "Baloo Bhaijaan 2", cursive;
}

.Weather img {
  max-height: 80px;
  margin-bottom: 0;
}

.Weather .current-temp {
  font-size: larger;
  font-weight: bold;
}

.Weather .current-description {
  color: lightslategray;
  opacity: 0.9;
  font-size: 13px;
  font-style: italic;
}

.Weather .current-humidity,
.Weather .current-wind {
  color: rgba(48, 41, 41, 0.8);
  margin-top: 4px;
  font-size: 13px;
}